<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="chave" value="0"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PubSubServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="PubSubService.PubSubService"
               behaviorConfiguration="PubSubServiceBehavior">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="wsHttpBindingConfiguration" 
               contract="PubSubService.IPubSubService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <protocolMapping>
      <add scheme="http" binding="wsDualHttpBinding" bindingConfiguration="wsHttpBindingConfiguration" />
    </protocolMapping>
    
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsHttpBindingConfiguration" transactionFlow="true" />
      </wsDualHttpBinding>
    </bindings>
    
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
